
#authake  {
margin-bottom:90px;
}
ul{

    margin:0;
    padding:0;
}

/* Text styles */

div#authake h1, div#authake h2, div#authake h3, div#authake h4, div#authake legend {
    color: #069;
    font-weight: bold;
   
}

div#authake h2, div#authake legend {
}

div#authake legend {

}

div#authake h3 {


}

div#authake h4 {

}





/* Forms */

div#authake .campotexto{
    margin:10px 0 5px 0;
}

div#authake form {
    clear: none;
    margin: 0 0 0.5em 0;
}

div#authake fieldset {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:#4aae30 solid 1px;
    width:385px;
    padding: 10px;
}

div#authake label {
    float: left;
    width: 15em;
    font-weight: bold;
}

div#authake input, div#authake select, div#authake textarea {
    display: inline;
    width: auto;
    padding: 0;
    border: 1px solid #ccc;
}



div#authake input, div#authake textarea {
    padding: 0 0.3em;
}

div#authake select, div#authake textarea {
    padding-right: 0;
}

div#authake option {
    margin: 0.2em auto;
}

div#authake textarea:focus, div#authake input:focus {
    border: 1px solid #999;
    background-color: #ffc;
}

div#authake div.submit input {
    background-color:#000000;
    color:#DCDEDA;
    border:none;
    font-weight: bold;
    text-transform: uppercase;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}


div#authake .validacion-login{
    float:left;
    margin-left:10px;
}
div#authake .olvido-pass {
    

}

div#authake .lostpassword {
    margin:0;
    padding:0;

}

div#authake form div.required input {
    font-weight: normal;
}

div#authake input[type="hidden"] {
    display: none;
}

div#authake input[type="checkbox"] {
    float: none;
}

/* Actions buttons */

div#authake div.actions>ul>li {
    background-color: #000000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0.2em;
}
div#authake div.actions a {
    font-weight: bold;
    color:#DCDEDA;
    text-transform: uppercase;
}
div#authake div.actions>ul>li:hover {
    
}
div#authake div.actions>ul>li>a:hover {
    text-decoration: none;
    color:#4AAE30;
}


/* icons */
div#authake li.icon {
    list-style-type: none;
    background-repeat: no-repeat;


}

div#authake li.info {
    background-image: url(../img/icons/information.png);
}

div#authake li.user {
    background-image: url(../img/icons/user.png);
}

div#authake li.user_add {
    background-image: url(../img/icons/user_add.png);
}

div#authake li.user_edit {
    background-image: url(../img/icons/user_edit.png);
}

div#authake li.user_delete {
    background-image: url(../img/icons/user_delete.png);
}

div#authake li.group {
    background-image: url(../img/icons/group.png);
}

div#authake li.group_add {
    background-image: url(../img/icons/group_add.png);
}

div#authake li.group_edit {
    background-image: url(../img/icons/group_edit.png);
}

div#authake li.group_delete {
    background-image: url(../img/icons/group_delete.png);
}

div#authake li.key {
    background-image: url(../img/icons/key.png);
}

div#authake li.lock {
    background-image: url(../img/icons/lock.png);
}

div#authake li.lock_add {
    background-image: url(../img/icons/lock_add.png);
}

div#authake li.lock_edit {
    background-image: url(../img/icons/lock_edit.png);
}

div#authake li.lock_delete {
    background-image: url(../img/icons/lock_delete.png);
}

div#authake li.information {
    background-image: url(../img/icons/information.png);
}

div#authake li.house {
    background-image: url(../img/icons/house.png);
}

div#authake li.cross {
    background-image: url(../img/icons/cross.png);
}

div#authake li.add {
    background-image: url(../img/icons/add.png);
}

div#authake li.accept {
    background-image: url(../img/icons/accept.png);
}

div#authake li.delete {
    background-image: url(../img/icons/delete.png);
}

div#authake li.error {
    background-image: url(../img/icons/error.png);
}

/*
div#authake li. {
    background-image: url(../img/icons/);
}
*/



/* Tables listing */
div#authake table.listing {
    background-color: #fff;
    border: none;
    clear: both;
    color: #333;
    margin: 1em 0 2em 12px;
    width: 100%;
    text-align: left;
}
div#authake table.listing th {
    background: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 0.2em;
    font-weight: bold;
}
div#authake table.listing th a {
    display: block;
    text-decoration: none;
    font-weight: bold;    
}
div#authake table.listing th a:hover {
    background-color: inherit;
}
div#authake table.listing th:hover {
    background-color: #eee;
    color: #333;
    text-decoration: none;
}
div#authake table.listing tr td {
    background: #f9f9f9;
    padding: 0.2em 0.6em;
    text-align: left;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid #ddd;
}
div#authake table.listing tr.altrow td {
    background: #fff;
}
div#authake table.listing td.actions, div#authake table.listing th.actions {
    text-align: right; 
    white-space: nowrap;
}
div#authake table.listing td.actions a {
    display: inline;
/*     margin: 0; */
}
div#authake table.listing tr td a {
    text-decoration: none;
     font-weight: normal; 
}
div#authake table.listing tr:hover td {
    background-color: #f6f6f6;
}

div#authake table.listing tr.altrow:hover td {
    background-color: #fcfcfc;
}

div#authake table.tableminwidth {
    width: auto;
}

div#authake table.listing tr.disabled td, div#authake table.listing tr.disabled td a {
    color: #999;
}



/* Paging */
div#authake p.paging_count {
    text-align: right;
    
    font-style: italic;
    color: #999;
}

div#authake div.paging {
    float: right;
}


/* DL/DT/DD lists */

div#authake dl {
    margin: 12px 0 2em 0;
    width: auto;
}
div#authake dt {
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    margin: 0 0 0.7em 0;
    width: 15em;
}
div#authake dd {
    margin: -2.7em 0 0.7em 17em;
    vertical-align: top;
}


/* Small menu in header */
div#authake div.menuheader {
    float: right;
    margin: 0;
}
