/*
    Document   : estilo
    Created on : 14/06/2010, 11:24:35 AM
    Author     : fabian
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin:0;
    padding: 0;
    font-family: "arial", "sans-serif"}

.envoltura{
    width:950px;
    margin: 0 auto;
 }
 .header-envoltura{
     background: transparent url(../img/bg-header.jpg) no-repeat top left;
     height: 140px;
}
.menu-superior a{
color:#4aae30;
font-weight: bold;
font-size: 0.8em;
}

.menu-superior-lista{
float:right;
}
.item-menu-superior{
    display:inline;
    list-style:none;
    text-align: right;
    padding-left:20px;
}
.header-logo{
    height:80px;
    padding-top:15px;
}
.header-logo-vende{
    background: transparent url(../img/Vende_net.png) no-repeat top left;
    width:191px;
    height:80px;
    float:left;
}
.header-logo-alquila{
    background: transparent url(../img/Alquila_net.png) no-repeat top left;
    width:228px;
    height:80px;
    float:left;
    margin:0 50px 0 50px;
}
.header-logo-arrienda{
    background: transparent url(../img/Arrienda_net.png) no-repeat top left;
    width:257px;
    height:80px;
    float:left;
}
.header-envoltura-menu-top{
        float:right;
        position: relative;
        z-index: 1;
}
.menu-top{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3px;
}
.menu-top a{
   color:#000000;

}

.item-menu-top {
    float: left;
    list-style:none;
    height:24px;
    width: 130px;
    text-align: center;
}

.item-menu-top a:hover {
    float:left;
    position:relative;
    top:-12px;
    padding-top: 15px;
    vertical-align: middle;
    background:transparent url(../img/bg-menu-top-item-hover.png) no-repeat top left  ;
    width: 130px;
    height: 20px;

}
.barra-header{
    background: transparent url(../img/bg-menu-top.png) repeat-x top left;
    position: relative;
    width:950px;
    height: 36px;
    z-index: 0;
}
a {
    text-decoration: none;
 }
a img {
     border: none;
}
.contenido-envoltura{
float:left;
width:950px;
margin-top:10px;
}
.contenido-left{
    float:left;
    width:425px;
}
.busqueda-envoltura{
position: relative;
top:-26;
width:400px;
border:#cccccc solid 1px;
-moz-border-radius: 6px;
padding:10px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
float:left;
margin-bottom:12px;

}
.busqueda-titulo{
float:left;
font-size: 0.8em;
line-height: 20px;
}
.input-busqueda{
    border:#cccccc solid 1px;
    background-color: #4aae30;
    color:#ffffff;
    text-align: center;
    width: 160px;
    margin-bottom: 10px;
}
.envoltura-caja-contenido-busqueda{
        font-size: 0.8em;
    font-weight: bold;
    float: right;
    margin: 0 10px 0 10px;
}
.envoltura-busqueda-detallada{
    position:relative;
    top:-26;
    -moz-border-radius:6px;
    border:#cccccc solid 1px;
    float:left;
    width:420px;
    margin-bottom: 12px;
    padding-bottom: 10px;
}
.busqueda-detallada-bloque{
    margin-bottom: 10px;
}
.negocio-titulo{
    width:230px;
    float:left;
}
.opciones-tipo-negocio{
    width:160px;
    border:1px solid #4AAE30;
}
.boton-enviar{
    -moz-border-radius:6px;
    float:right;
    border: 1px solid #4aae30;
    padding:1px;
}
.enviar{
    -moz-border-radius:6px;
    background-color: #000000;
    border: none;
    color:#DCDEDA;
    font-weight: bold;
    text-transform: uppercase;
}
.banner-todos{
    background: transparent url(../img/negocios.jpg) no-repeat  top left;
    height: 63px;
    margin:20px;
}
.contenido-right{
    float:right;
}

.envoltura-caja{
    -moz-border-radius:6px;
    position:relative;
    border:#cccccc solid 1px;
    width:515px;
    margin-bottom: 12px;
    padding-bottom:10px;

}
.envoltura-caja-header{
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    color:#4AAE30;
    background: #dcdeda url(../img/bg-noticia-titulo.jpg) repeat-x bottom left;
    height: 30px;
    margin: 1px;
    padding:10px 0 10px 10px;
    text-transform: uppercase;
    font-size: 0.7em;
}
.caja-titulo {
    padding:0;
    margin:0;
}
.envoltura-caja-contenido{
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 20px 10px 10px;
}
.envoltura-redes-sociales-menu{
    height: 28px;
    position: relative;
    top:-23px;

}
.lista-redes-sociales{
    padding-top: 20px;

}
.item-redes-sociales{
    display: inline;
    list-style:none;
    text-align: right;
    padding: 0 30px 0 25px;
}
.envoltura-footer{
background: transparent url(../img/bg-header.jpg) no-repeat top left;
float:left;
position: relative;
width: 950px;
}
.envoltura-footer-top{
background: transparent url(../img/bg-footer.png) repeat-x top left;
height: 36px;
}
.envoltura-footer-contenido{
font-size: 0.7em;
text-align: center;
color:#4AAE30;
}
/*publicar inmueble estilos*/
.seleccion-caja{
    margin:30px 10px 10px 10px;

}

.campotexto{
    margin:10px 0 5px 0;
}

.input [type="select"]{
    width:100px;
}
.input {
    margin:5px 0 5px 0;
}
fieldset {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:#4aae30 solid 1px;
    width:385px;
    padding: 10px;
    margin-left: 10px;
}
legend{
    color: #069;
    font-weight: bold;
}
#step1_to_step2_btn_container{
    text-align: right;
}
#step2_to_step1_btn_container{
    float: left;

}
#step2_to_step3_btn_container{
    text-align: right;
}
#step3_to_step2_btn_container{
  float: left;
}
#step3_to_step4_btn_container{
    text-align: right;
}
#step4_to_step3_btn_container{
     float: left;
}
#step4_to_step5_btn_container{
     text-align: right;
}
/*paso 2*/
#inmuebles{
    float:left;
}
#vehiculos{
    float:right;
}

/* Tabla */
.tabla-envoltura{

    width:700px;
    margin: 0 auto;
}
.tabla{
    border: 1px solid #000000;
    width:700px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-tabla{
    background-color: #4aae30;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}
.body-tabla{
    background-color: #dcdeda;
}

