.flash_box {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    margin: 5px 10% 10px 10%;
    width: auto;
    left: 0%;
    padding: 0.5em 2em;
    position: relative;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.flash_info {
    background-color: #006699;
    color:#ffffff;
}

.flash_success {
    background-color: #4aae30;
}

.flash_warning {
    background-color: #FDB833;
}

.flash_error {
    background-color: #DC0303;
    color:#ffffff;
}
