/**
  * CSS para VendeNET.
  */

#banners {

}

#box {
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
}

#box input {
    max-width: 150px;
    margin: 5px;
}

#login_box {

}

.step {
display:none;
}

.clear {   
    clear: both;
    overflow: hidden;
    height: 0
}

.loader {
    display:none;
}

.pais-loader {
    display:none;
}

.dpto-loader {
    display:none;
}

.ciudad-loader {
    display:none;
}

#menu {
    margin: 15px;
}

#jsddm {
    margin: 0;
    padding: 0
}

#jsddm li {   
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial
}

#jsddm li a {   
    display: block;
    background: #E8F8DE;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 80px;
    color: #000000;
    white-space: nowrap;
    text-align:center;
}

#jsddm li a:hover {   
    background: #749F59;
}

#jsddm li ul {   
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white
}

#jsddm li ul li {
    float: none;
    display: inline
}

#jsddm li ul li a {   
    width: auto;
    background: #A9C251;
    color: #24313C}
    
#jsddm li ul li a:hover {   
    background: #8EA344
}

#BuscadorPrice-min, #BuscadorPrice-max {
    width:150px;
}

#BuscadorAlcobas, #BuscadorCapacidad {
    width:150px;
}
