<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="estilo/estilo.css">
  </head>
  <body>
      <div class="envoltura">
          <div class ="header-envoltura">
              <div class="header-logo">
                <div class="header-logo-vende"></div>
                <div class="header-logo-alquila"></div>
                <div class="header-logo-arrienda"></div>
              </div>
              <div class="header-envoltura-menu-top">
                  <ul class="menu-top">
                      <li class="item-menu-top"><a href="#"><span>inicio</span></a></li>
                      <li class="item-menu-top"><a href="#"><span>entrar</span></a></li>
                      <li class="item-menu-top"><a href="#"><span>registrarse</span></a></li>
                  </ul>
              </div>
              <div class="barra-header"></div>
          </div>
          <div class="contenido-envoltura">
              
          </div>
      </div>
  </body>
</html>
